@media (min-width: 576px) {
    .jumbotron {
        padding: 6rem 2rem 0px 2rem;
    }
}

.jumbotron {
    margin-bottom: 0px !important;
    padding: 1rem 1rem 0px 1rem;
    background-color: aliceblue !important;
}

.tab-content {
    display: flex;
    justify-content: space-between;
}

.content-container {
    border: 2px solid darkgrey;
    border-radius: 20px;
    margin-bottom: 5px;
}