
a {
    text-decoration: none;
}
.link {
    font-size: 17px;
    font-weight: 600;
    color: #808080;
    margin: 0px 20px;
}

.link:hover {
    transition-delay: 0.2s;
    opacity: 0.8;
    border-bottom: 2px solid #000;
    border-top: 2px solid transparent;
    color: #000;
    text-decoration: none;
}

.link:focus {
    color: #000000;
}
